html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: RobotoMedium, "Helvetica Neue", Helvetica,Arial, sans-serif;
}

@font-face{
    font-family: 'RobotoRegular';
    src: url("../fonts/Roboto-Regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
 * Skins
 */
.background_pink {
    background: #D49899;
}

.background_red {
    background: #BF4646;
}

.background_yellow {
    background: #E4D09B;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 3rem;
}

.title {
    text-align: center;
}

.menu {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.menu__item {
    background: #999;
    border: 3px solid #000;
    position: relative;
    padding: 24px 10px 5px;
    margin-top: 1rem;
}

.menu__title {
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-color: #000;
    border-width: 0 0 3px 3px;
    font-size: 1.125rem;
    margin: 0;
    min-width: 138px;
    padding: 0 30px;
    height: 28px;
    line-height: 26px;
    text-align: center;
}

.menu__text {
    font-size: 0.875rem;
    line-height: 1.125rem;
}

@media (min-width: 768px and max-width: 991px) {
    .menu__item:first-child, .menu__item:nth-child(2) {
        width: -moz-calc(50% - 0.5rem);
        width: -webkit-calc(50% - 0.5rem);
        width: calc(50% - 0.5rem);
    }
}

@media (min-width: 992px) {
    .menu__item {
        margin-top: 0;
        width: -moz-calc(100% / 3 - 0.5rem);
        width: -webkit-calc(100% / 3 - 0.5rem);
        width: calc(100% / 3 - 0.5rem);
    }
}
